img {
        width: 400px;
	    display: block;
        margin: 0 auto;
        margin-top: 50px;
}

form {
    text-align: center;
}

input {
    font-size: 15px;
	font-family: Helvetica;
	padding: 15px;
	margin: 10px;
}

#searchbar {
    width: 500px;
    border-width: 0.5px;
	border-radius: 40px;
    margin: auto;
    display: block;
}

#link {
    text-align: right;
    margin-top: -50px;
	margin-right: 20px;
    font-size: 25px;
}

#link2 {
    text-align: right;
	margin-right: 20px;
	margin-top: 20px;
    font-size: 25px;
}

.buttons {
    text-align: center;
}

